*{
    box-sizing: border-box;
    margin: 0;
}

header{
    background-color: black;
    color: lightgray;
    height: 4rem;
}

img{
    max-width: 150px;
    height: auto;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem;
    height: auto;
}

.grid-item{
    background-color:  rgb(194, 186, 202);
    padding: 10px;
    margin: 0.5rem;
    border-radius: 5px;
    box-shadow: 2px 8px 10px gray;
}

#laptop-container{
    display: flex;
    justify-content: space-around;
    grid-column: 1/4;
    background-color: rgb(194, 186, 202);
    height: auto;
    margin: 0.5rem;
    border-radius: 5px;
    box-shadow: 5px 8px 10px gray;
}

#repay-btn{
    display: block;
    margin-top: 0.5rem;
}

#repay-btn[hidden]{
    display: none;
}

#laptop-container div{
    padding: 20px;
}